@media (max-width:1279px) {
    section.banner {
        background-image: url('./assets/bg/main-tablet.svg');
        background-size: 153%;
        background-position: right 40% center;
    }

    section.banner h1, .container {
        font-size: 10rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "item1 item1 item2" "item4 item5 item5" "item3 item3 item3";
        gap: 1.5rem;
    }
}

@media (max-width:768px) {
    :root {
        --header-height: 60px;
        --logo-height: 30px;
    }

    header nav.desktop-menu, section.banner h1 {
        display: none;
        font-size: 6rem;
    }

    header nav.mobile-menu, footer .links {
        display: inline;
        width: 100%;
        margin: 2rem auto;
        flex-direction: column;
    }
}